
/* Header */
.top{position:relative;width:100%;overflow:hidden;min-width:1000px;height:80px;z-index:10;background:#1B91DB}
.top .box{position:relative;max-width:1500px;min-width:900px;margin:0 auto;width:auto;padding:0 30px;box-sizing:border-box}
.top svg{position:relative;fill:#fff;height:25px;max-width:25px;top:5px}
div.cle:after{content:"";display:block;float:none;clear:both}
button.close svg{position:absolute;height:14px;width:14px;left:5px;top:4px}
.minibox a.user svg{margin-right:5px}
svg.logo{position:absolute;height:44px;max-width:32px;top:18px;left:35px}
.top h1.logo{position:relative;margin:0;padding-left:45px;font-size:30px;font-weight:300;color:#fff;height:80px;line-height:80px;float:left}
.top ul{position:relative;margin:0;padding:0;height:100%;line-height:80px}
.top ul li{margin-left:24px;color:#fff;font-size:15px;float:left}
.top ul li a, .top ul li a:visited{color:#fff;height:100%;display:block;opacity:.8}
.top ul li a:hover{opacity:1}
.top ul li img{padding-top:27px;height:25px;width:25px}
.minibox{position:relative;max-width:200px;float:right;height:100%;line-height:80px;color:#fff}
.minibox a.user{padding:5px 0;font-weight:600;color:#fff}
.minibox button.close{position:absolute;top:-1px;right:0;width:26px;height:23px;border-radius:0 0 4px 4px;border:1px solid rgba(0,0,0,.1);background:rgba(0,0,0,.1);opacity:.8}
.minibox button.close:hover{opacity:1}
.content.big{position:relative;overflow:inherit;background:none;min-height:calc(100vh - 80px);min-width:1000px;width:100%;display:block}
.content.big > form{height:calc(100vh - 80px);}
.big .box{width:100%;min-width:900px;padding:0;margin:0;width:100%}
.big .box > div{margin:0}
.window{position:relative;height:calc(100vh - 80px);width:100%;text-align:center;cursor:default;box-sizing:border-box;padding:20px 45px 45px 45px;}
.motherstate{position:absolute;height:84px;width:64px;margin-left:-32px;left:50%;top:-28px;z-index:99;background:url(../images/containerhead.png)}
.motherstate svg{position:absolute;width:39px;height:50px;left:50%;margin-left:-20px;top:16px}
.container.window .topback{position:absolute;top:0;left:0;height:100px;width:100%}
.container.window .topback svg{height:156px;width:95%;margin:-75px auto 0}
.container.window h2{margin:60px auto 0;font-size:20px;font-weight:600;line-height:20px;text-align:center;word-break:break-all}
.container.window h2 + hr + p, .container.window em{font-style:normal;line-height:16px;font-size:12px;font-weight:400;margin:0 auto 30px}
.container .support,
.container .support_2{margin:0 auto 30px;max-width:900px;width:80%;z-index: 33;position: relative;}
.container.window table{border-spacing:0;margin:0 auto;min-width:728px;width:80%;max-width:900px}
.container tr td{padding:10px 0;font-size:14px;height:50px;box-sizing:border-box}
.container tr td:nth-child(1){width:50px}
.container tr td:nth-child(2){text-align:left}
.container tr td:nth-child(3){width:110px;text-align:right}
.container tr td:nth-child(4){width:110px;text-align:center}
.status i, .mirror a:before{border-radius:20px;height:14px;width:14px;display:block;border:1px solid rgba(0,0,0,.2);margin:0 auto}
.container small{opacity:.6;font-size:12px}
.container tr td:nth-child(2) span{font-size:11px;display:block;font-weight:normal;opacity:.75;text-align:left}
.container .buttons{display:block;width:100%;margin:10px auto 30px}
.container .buttons button{position:relative;width:auto;height:36px;padding:0 10px}
.container button span, .container button.cnl span{padding-left:35px;line-height:33px}
.container button span{opacity:.95}
.container button:hover span{opacity:1}
form.cnlform{display:inline}


/* Season Select  */
.selbox.disabled,
.selbox.disabled span {pointer-events:none;background:none;text-align:center;}
.selbox.disabled select + span + span {display:none;}
.selbox svg {fill:#387ca4;}
.selbox,
.selbox select + span {height:40px!important;line-height:40px;width:100%;font-size:14px!important;display:block;padding:0 10px;box-sizing:border-box;text-align:left;}
.selbox select + span + span{position:absolute;cursor:pointer;top:50%;margin-top:-12px;right:2%;height: 22px;transition:all 275ms;}
.selbox * {font-size:14px;}
.selbox {position:relative;display:inline-block;min-width:120px;width:120px;min-height:40px;padding:0;font-weight:300;border-radius:3px;transition: all 375ms ease-in-out;margin-left:5px;}
.selbox ul {background:#fff;position:absolute;left:0;top:0;z-index:999;width:100%;padding:0;margin-bottom:0;margin-top:0;border-radius:0 0 3px 3px;transition:max-height .3s,margin-top .3s, opacity .2s;max-height:0;margin-top:0;box-shadow:1px 2px 10px -2px rgba(0,0,0,.3);}
.selbox li {position:relative;padding:0 10px;max-height:40px!important;
  width:100%;margin:0;transition: all 275ms ease-in-out;display:block;cursor:pointer;box-sizing:border-box;}
.selbox li:hover {background-color:#fff;}
.selbox li.active {font-weight:600;}
.selbox select + span {font-weight:600;cursor:pointer;}
.selbox select {display:none;}
.dlpart{max-width:900px;width:80%;margin:10px auto;position:relative;z-index:500;text-align:center;}


/* Mirror Select */
.mirror{position:relative;height:60px}
.mirror a:before{position:absolute;content:"";height:6px!important;width:6px!important;left:12px;top:14px}
.mirror ul:hover{box-shadow:0 0 3px rgba(0,0,0,.3)}
.mirror ul li{position:relative;display:none;height:35px;line-height:35px;font-size:14px;border:none;overflow:hidden;}
.mirror ul li:first-child{display:block;border:none}
.mirror ul:hover li{display:block;background:#fff}
.mirror ul li:first-child:after{pointer-events:none;display:block;content:"";position:absolute;right:9px;top:50%;margin-top:-3px;width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#5976a8 transparent transparent transparent;line-height:0}
.mirror ul li a, .mirror ul li a:hover, .mirror ul li a:active, .mirror ul li a:visited, .mirror ul li a:focus{padding-left:30px;cursor:pointer;text-decoration:none;width:100%;height:100%;display:block;box-sizing:border-box;text-align:left}
.mirror ul li:hover{font-weight:600}
.mirror ul{z-index:45;width:200px;margin:0 0 0 -100px;position:absolute;left:50%;padding:0;border-radius:1px;}

.dlpart ul li, .mirror ul li {border-top:1px solid #d0dfe7;}

.selbox select + span, .dlpart ul li:hover, .mirror ul {background:#f3f7fa;}

/* Download Buttons */
button, .fcbtn{background:#1fa1e1;font-size:14px;color:#fff;padding:5px 10px}
button:hover, .fcbtn:hover{background:#25A6E6;color:#fff;}
.container button.cnl, .container button.dlcdownload{position:relative;margin:0;background:#5fc529;border:1px solid #53b121;color:#fff}
button.cnl:hover, button.dlcdownload:hover{background:#64ca2f}
.container button.dlcdownload{left:-4px;border-radius:0 2px 2px 0;border-left:1px dashed #55b226}
.container.window table button{padding:0;width:90px;height:32px;display:block;line-height:32px;margin:0 auto;font-weight:normal;}
html:lang(en) .container button.streamed:hover:after,
html:lang(en) .container button.stream:after{content:"watch";display:block;font-weight:normal}
html:lang(de) .container button.streamed:hover:after,
html:lang(de) .container button.stream:after{content:"Ansehen";display:block;font-weight:normal}
.container button.download:after{content:"Download";display:block;font-weight:normal}
.container button.streamed:after,
.container button.downloaded:after{content:url('../images/downloaded.png');display:block;margin-top:2px}
.container button.downloaded:hover:after{content:"Download";margin-top:0;}
html:lang(en) .container button:hover:after{font-weight:600;}
button#cnl_btn:last-of-type:after, button.dlcdownload:first-of-type:after{position:absolute;border-left:1px solid rgba(0,0,0,.2);content:"";display:block;height:100%;top:0}
button#cnl_btn:last-of-type:after{right:-1px}
button.dlcdownload:first-of-type:after{left:-1px}

.buttons svg{position:absolute;fill:#fff;pointer-events:none}
button#cnl_btn svg{height:27px;max-width:28px;top:4px}
button.dlcdownload svg{height:17px;max-width:19px;top:9px}
.hghspd{height:20px;max-width:12px;top:8px;left:20px}
button#cnl_btn svg path:nth-child(1n+3){opacity:.8}
.set3 ul{flex-direction:row-reverse;}


/* Table Color */
.container.window tr:nth-child(odd) td{background:rgba(240,246,249,.8)}
.container.window tr:nth-child(even) td{background:#fff}
.container.window tr:hover td{background:rgba(29,109,163,.13);font-weight:600}

/* Table Row Status */
i.online, a.online:before{background:#4fca1b!important}
i.offline, a.offline:before{background:#ca1c1b!important}
i.unknown, a.unknown:before{background:#c2c1b5!important}
i.mostonline, a.mostonline:before{background:#dbcd2a!important}

/* Status Font Color */
em.online{color:#5cc429}
em.offline{color:#db281d}
em.unknown{color:#c4c5c4}

/* Status Background-Light */
.topback path:nth-of-type(1){fill:url(#XMLID_44_)}
.topback svg stop:last-child{stop-color:#fff}
.unknown .topback svg stop:first-child{stop-color:#e3e3e3}
.online .topback svg stop:first-child{stop-color:#ddf1c9}
.mostonline .topback svg stop:first-child{stop-color:#fea}
.offline .topback svg stop:first-child{stop-color:#ffc0c0}

/* Status Shield */
.motherstate path:nth-of-type(1){fill:url(#XMLID_193_)}
.motherstate path:nth-of-type(2){fill:#fff}
.motherstate path:nth-of-type(3){fill:url(#XMLID_194_)}
.unknown .motherstate linearGradient:nth-of-type(1) stop:nth-child(1){stop-color:#d8d7d0!important}
.unknown .motherstate linearGradient:nth-of-type(1) stop:nth-child(2){stop-color:#b4b3a4!important}
.unknown .motherstate linearGradient:nth-of-type(2) stop:nth-child(1){stop-color:#e3e2de!important}
.unknown .motherstate linearGradient:nth-of-type(2) stop:nth-child(2){stop-color:#c2c1b5!important}
.online .motherstate linearGradient:nth-of-type(1) stop:nth-child(1){stop-color:#71da28!important}
.online .motherstate linearGradient:nth-of-type(1) stop:nth-child(2){stop-color:#37be12!important}
.online .motherstate linearGradient:nth-of-type(2) stop:nth-child(1){stop-color:#8ce732!important}
.online .motherstate linearGradient:nth-of-type(2) stop:nth-child(2){stop-color:#4fca1b!important}
.offline .motherstate linearGradient:nth-of-type(1) stop:nth-child(1){stop-color:#dc2929!important}
.offline .motherstate linearGradient:nth-of-type(1) stop:nth-child(2){stop-color:#c22221!important}
.offline .motherstate linearGradient:nth-of-type(2) stop:nth-child(1){stop-color:#e63131!important}
.offline .motherstate linearGradient:nth-of-type(2) stop:nth-child(2){stop-color:#ca1c1b!important}
.mostonline .motherstate linearGradient:nth-of-type(1) stop:nth-child(1){stop-color:#e5d026!important}
.mostonline .motherstate linearGradient:nth-of-type(1) stop:nth-child(2){stop-color:#d1ad11!important}
.mostonline .motherstate linearGradient:nth-of-type(2) stop:nth-child(1){stop-color:#ede02e!important}
.mostonline .motherstate linearGradient:nth-of-type(2) stop:nth-child(2){stop-color:#dec41e!important}


/*Captcha/Pass Site */
.errpage h2{font-weight:normal}
.errpage{background:#e9f3f9;height: calc(100vh - 80px);}
.errpage svg{fill:#1b91db}
.protection{background:#0870b1}
.errpage,
.protection{display:table;text-align:center;border:none;width:100%;}
.errpage > div,
.protection > div{position:relative;display:table-cell;vertical-align:middle;z-index:10;}
.protection h2{margin:20px auto 0;color:#fff}
svg.svgkey{height:90px;margin-top:30px;fill:#93ccf0}
.protection h2 + hr + p{margin:5px;color:#fff}
.protection > div > div{max-width:728px;margin:0 auto}
.protection > div input{max-width:250px;border:none;margin:0 auto;float:none;text-align:center;outline:none;height:32px;width:100%}
.protection ul{background:#07629a;padding: 20px;display: flex;color:#fff;justify-content: center;}
.protection ul li{align-items:center;display:flex;}
.set1 ul:after{clear:both;display:block;content:"";}
.set1 ul li{top:-20px;position:relative;flex-direction:column;}
.set1 li{width:100%}
.set1 > div > div > img{margin:0 auto 20px}
.set1 li h2{padding-top:20px}
.set2 li:last-child ,
.set3 li:first-child{align-self: center;display: flex;justify-content: center;}
.set2 li:last-child,
.set3 li:last-child{width: auto;display:flex;flex:1 1 auto;height:100%;align-self: center;justify-content: space-between;flex-direction: column;    align-items: center;}
.set2 li:last-child{/* text-align:right; */}
.set3 li:first-child{text-align:left}
.protection ul li div.placeholder{min-height:135px;display:table-cell;height:100%;width:100%;vertical-align:middle;}
.protection button{margin:0 auto;font-size:15px;padding:0 10px;height:36px;background:#5fc529;color:#fff;width:150px}
.protection button:hover{background:#64ca2f}
.mirror{position:relative;height:60px;}
.mirror ul li{display:none;height:35px;line-height:35px;font-size:14px;border-top:1px solid #d0dfe7;overflow:hidden;position:relative;}
.mirror ul li:first-child{display:block;border:none;}
.mirror ul li:first-child:after{pointer-events:none;display:block;content:"";position:absolute;right:9px;top:50%;margin-top:-3px;width:0;height:0;border-style:solid;border-width:5px 5px 0 5px;border-color:#5976a8 transparent transparent transparent;line-height:0;_border-color:#5976a8 #000000 #000000 #000000;_filter:progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.mirror ul li a, .mirror ul li a:hover, .mirror ul li a:active, .mirror ul li a:visited, .mirror ul li a:focus{padding-left:30px;cursor:pointer;text-decoration:none;width:100%;height:100%;display:block;box-sizing:border-box;text-align:left;}
.mirror ul li:hover{font-weight:600;}
.mirror ul:hover li{display:block;background:#fff;}
.mirror ul:hover{box-shadow:0 0 3px rgba(0,0,0,.3);}
@media only screen and (max-width: 640px) {
    html, body, .container .support,.container .support_2, .top .box, .top, .big .box, .container.window table, .content.big {
        max-width: 640px;
        min-width: 320px;
        width: 100%;
    }
    .top{height:50px;}
    svg.logo {
    height: 24px;
    max-width: 18px;
    top: 12px;
}
    .top h1.logo {
    height: 50px;
        line-height: 50px;font-size: 24px;padding-left: 25px;}
    .protection li {
    }
    .protection ul {flex-direction:column;}
    .set3 ul{flex-direction:column-reverse;}
    .protection ul,
    .set2 li:last-child,
    .set3 li:last-child {
        height: auto;
        width:100%;
    }
    .set2 li:last-child {
        text-align: center;
        margin: 0!important;
    }

    .set3 li:last-child {
    margin-top: -30px;
    margin-bottom: 30px;
    }

    .protection h2,
    .container.window h2 {
        word-break:break-all;font-size:18px;
    }
    .protection h2 + hr + p {font-size:14px;}
    form.cnlform {
        display: flex;
    }


    container button.dlcdownload {left:-1px;}
    .protection button, .container button.cnl, .container button.dlcdownload {width:50%;flex:1 1 auto;}
    .protection a img,
    .container .support img,.container .support_2 img  {
        max-width: 100%;
        overflow: hidden;
        margin:0 auto;
    }
    .container tr td:nth-child(3) {
        white-space: nowrap;
    }
    .container tr td:nth-child(2) {
        max-width: 150px;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .container.window table button {width:80px;}

    .container .buttons button,.container button {height:40px;}
    .window {
        padding: 20px 5px 15px;
        min-height: calc(100vh - 50px);
    }
    span button {
        width: 100%!important;
    }
    .container tr td:nth-child(2) span{line-height:10px;}
        span button span{
        padding:0!important;
    }
    table td button{font-size:13px;}
    .container tr td {padding:10px 3px;font-size:13px;}
    .window.protection{padding:0!important;}
    .top ul {
        display: none;
    }
    .protection ul{width:100%;max-width:360px;margin:0 auto;box-sizing:border-box;}
    .set2 li:last-child, .set3 li:first-child {width:100%;}
}
